<!-- HEREDAMOS EL LAYOUT DEL FICHERO BASE.HTML -->
{% extends "./base.html" %} 

{% block title %}INICIO{% endblock %}

{% block body %}    
    <div class="py-5">
        <div class="container-fluid">
            
            <!-- CONTROL DE MENSAJES DEPENDIENDO DE LA ACCION -->
            {% if messages %}
            {% for message in messages %}
            <div class="col-md-12 col-sm-12 col-lg-4 col-xs-4">
                <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" 
                role="alert">

                    <img src="static/resources/bootstrap/icons/exclamation-octagon.svg"
                    width="25px" height="25px" style="margin-right: 5px;"></img></svg>
    
                    <div>

                        <strong style="text-align: center">{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" 
                        aria-label="Close"></button>

                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <div class="shadow-lg bg-body rounded">
                <div class="card">
                    <div class="card-body">
                        <h3>Muertes violentas</h3
                        <div class="table-responsive py-2">
                            
                            <table class="table table-striped">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>TIPO DE MUERTE</th>
                                        <th>NUMERO DE VICTIMAS</th>
                                        <th>OPCIONES</th>
                                    </tr>
                                </thead>
            
                                <tbody>
                                    <tr>
                                        {% for i in muertesViolentas %}
                                    </tr>
                                        <td>{{i.id}}</td>
                                        <td>{{i.tipoMuerte}}</td>
                                        <td>{{i.numeroVictimas}}</td>
                                        <td>
                                            
                                        <a href="editar_muertes_violentas/{{i.id}}" class="btn btn-outline-primary" 
                                        title="Editar">Editar</a>

                                        <a href="eliminar_muertes_violentas/{{i.id}}"  
                                        class="btn btn-outline-danger btn_eliminar_contactos" 
                                        title="Eliminar">Eliminar</a>
                                    </td>                                        
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div style="text-align: center; margin-botton: 10px;margin-bottom: 20px;">
                            <a href="registrar_muertes_violentas/" class="btn btn-outline-success"
                            title="Crear">registrar muerte violenta</a>
                        </div>
                    </div>
                </div>
            </div>
           <!--#####################################################################################-->
           <div class="shadow-lg bg-body rounded">
            <div class="card">
                <div class="card-body">
                    <h3>Muertes accidentes</h3
                    <div class="table-responsive py-2">
                        
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>TIPO DE VEHICULO</th>
                                    <th>NUMERO DE VICTIMAS</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    {% for i in muertesAccidentes %}
                                </tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.tipoVehiculo}}</td>
                                    <td>{{i.numeroVictimas}}</td>
                                    <td>
                                        
                                    <a href="editar_muertes_accidentes/{{i.id}}" class="btn btn-outline-primary" 
                                    title="Editar">Editar</a>

                                    <a href="eliminar_muertes_accidentes/{{i.id}}"  
                                    class="btn btn-outline-danger btn_eliminar_contactos" 
                                    title="Eliminar">Eliminar</a>
                                </td>                                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center; margin-botton: 10px;margin-bottom: 20px;">
                        <a href="crear_muertes_accidentes/" class="btn btn-outline-success"
                        title="Crear">registrar muerte accidente</a>
                    </div>
                </div>
            </div>
            <!--#####################################################################################-->
           <div class="shadow-lg bg-body rounded">
            <div class="card">
                <div class="card-body">
                    <h3>Muertes accidentales</h3
                    <div class="table-responsive py-2">
                        
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>TIPO DE ACCIDENTE</th>
                                    <th>NUMERO DE VICTIMAS</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    {% for i in muertesAccidentales %}
                                </tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.tipoAccidente}}</td>
                                    <td>{{i.numeroVictimas}}</td>
                                    <td>
                                        
                                    <a href="editar_muertes_accidentales/{{i.id}}" class="btn btn-outline-primary" 
                                    title="Editar">Editar</a>

                                    <a href="eliminar_muertes_accidentales/{{i.id}}"  
                                    class="btn btn-outline-danger btn_eliminar_contactos" 
                                    title="Eliminar">Eliminar</a>
                                </td>                                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center; margin-botton: 10px;margin-bottom: 20px;">
                        <a href="crear_muertes_accidentales/" class="btn btn-outline-success"
                        title="Crear">registrar muerte accidente</a>
                    </div>
                </div>
            </div>
            <!--#####################################################################################-->
           <div class="shadow-lg bg-body rounded">
            <div class="card">
                <div class="card-body">
                    <h3>Muertes homicidio</h3
                    <div class="table-responsive py-2">
                        
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>TIPO DE HOMICIDIO</th>
                                    <th>NUMERO DE VICTIMAS</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
        
                            <tbody>
                                <tr>
                                    {% for i in muertesHomicidios %}
                                </tr>
                                    <td>{{i.id}}</td>
                                    <td>{{i.tipoHomicidio}}</td>
                                    <td>{{i.numeroVictimas}}</td>
                                    <td>
                                        
                                    <a href="editar_muertes_homicidio/{{i.id}}" class="btn btn-outline-primary" 
                                    title="Editar">Editar</a>

                                    <a href="eliminar_muertes_homicidio/{{i.id}}"  
                                    class="btn btn-outline-danger btn_eliminar_contactos" 
                                    title="Eliminar">Eliminar</a>
                                </td>                                        
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center; margin-botton: 10px;margin-bottom: 20px;">
                        <a href="crear_muertes_homicidio/" class="btn btn-outline-success"
                        title="Crear">registrar muerte accidente</a>
                    </div>
                </div>
            </div>
        </div> 
        </div>
    </div> 
{% endblock %}
